$hover-gray: rgb(247,247,247);
$border-gray: rgb(229,229,229);

$text: rgb(75,75,75);
$sub-text: rgb(117,117,115);

$light-purple: rgb(219,157,255);
$purple: rgb(206,130,255);
$dark-purple: hsl(280,76%,66%);
$on-purple: rgb(148,78,194);

$light-gray: rgb(239,239,239);
$gray: rgb(229,229,229);
$dark-gray: rgb(227,227,227);
$on-gray: rgb(211,211,211);

$lightest-green: rgb(230, 245, 215);
$light-green: rgb(135,224,1);
$green: rgb(120,201,0);
$dark-green: rgb(117,177,32);
$on-green: rgb(80,139,0);

$light-blue: rgb(70,196,255);
$blue: rgb(52,176,246);
$dark-blue: rgb(46,157,211);
$on-blue: rgb(31,118,172);

$background-blue: rgb(60,192,235);

$red: rgb(245,75,75);
$light-red: rgb(247,119,120);
$dark-red: rgb(230,77,77);
$on-red: rgb(204,36,36);

$light-yellow: rgb(253,227,51);
$yellow: rgb(251,199,0);
$dark-yellow: rgb(251,193,2);
$on-yellow: rgb(248,151,0);

// $deep-blue: rgb(35,83,144);
// $deep-blue-dark: rgb(21,50,86);
