.event-form-main-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 30px;
}

.create-event-form-map-container {
  height: 970px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 600px;
}
// .create-event-form-container {
//   display: flex;
//   justify-content: center;
//   // align-items: center;
//   background-color: white;
// }

.create-event-map-container {
  height: 400px;
  width: 500px;
  margin-top: -495px;
  margin-left: 3px;
}

.event-map {
  height: 400px;
}

// .create-event-form {
//   display: flex;
//   flex-direction: column;
//   width: 600px;
//   border-radius: 8px;

//   .create-event-input-div {
//     margin-bottom: 5px;

//     .create-event-input-text {
//       margin-bottom: 10px;
//     }
//   }
// }

.create-event-form-header-h1 {
  margin:0;
  font-size: 28px;
}

.create-event-form-inputs-container {
  font-size: 16px;
}

.create-event-location-map-div {
  height: 400px;
  width: 500px;
  box-shadow: inset 0 0 0 0.5pt $border-gray;
  border: 3px solid $border-gray;
}

.create-event-two-input-div {
  display: flex;
  margin-bottom: 5px;
}

.create-event-capacity-text {
  margin-bottom: 10px;
}

.create-event-button:focus {
  outline: none !important;
}

.create-event-title-input {
  padding: 5px;
  outline: none;
  box-shadow: inset 0 0 0 0.5pt $green;
  border: 3px solid $green;
}

.create-event-title-input:focus {
  background-color: $lightest-green;
}

.create-event-input {
  padding: 5px;
  outline: none;
  box-shadow: inset 0 0 0 0.5pt $green;
  border: 3px solid $green;
}

.create-event-date-input:focus {
  background-color: $lightest-green;
}

.create-event-description-textarea {
  resize: none;
  width: -webkit-fill-available;
  height: 60px;
  padding: 8px;
  outline: none;
  box-shadow: inset 0 0 0 0.5pt $green;
  border: 3px solid $green;
}

.create-event-description-textarea:focus {
  background-color: $lightest-green;
}

.create-event-capacity-input {
  padding: 5px;
  width: 45px;
  outline: none;
  box-shadow: inset 0 0 0 0.5pt $green;
  border: 3px solid $green;
}

.create-event-capacity-input:focus {
  background-color: $lightest-green;
}

.create-event-button {
  margin: 25px 0px;
  padding: 10px 31px;
  border-radius: 25px;
  border: 2px solid $light-green;
  background-color: $light-green;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.create-event-button:hover {
  background-color: $light-green;
  border-color: $light-green;
  transform: scale(1.15);
}

.create-input {
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    z-index: 5;
    
}

#create-text {
    padding: 7px;
    padding-left: 10px;
    background-color: $hover-gray;
    border: 2px solid transparent;
    outline: none;
    box-shadow: none;
    color: #000;
    outline: none;
    font-size: 16px;
    font-family: $ssp;
}


#create-text:focus {
    background-color: $lightest-green;
    border: 2px solid $green;
}

#create-text:hover {
    background-color: $lightest-green;
}

#create-label {white-space: nowrap;
  margin-right: 10px;
  font-size: 20px;
  font-family: $ssp;
  color: $green;
  font-weight: 600;
}

#description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 125px;
  font-family: $ssp;
  width: 100%;

  label {
    margin-bottom: 10px;
  }
}

// #max-cap-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;

//   #create-label {

//   }
// }

.create-event-form input {
  width: 100%;
}