.event-map {
  height: 500px;
  width: 100%;
  border: 3px solid #db9dff;
}

.event-show-main-div {
  width: 80%;
  justify-content: space-between;
  margin: 2% auto;
}

.event-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .single-event-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

.event-info-container {
  border: 3px solid #78c900;
  background-color: #e6f5d7;
  padding: 20px;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 15px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
}

.event-header > button {
  margin: 25px 0px;
  padding: 10px 31px;
  border-radius: 25px;
  border: 2px solid #ce82ff;
  background-color: #ce82ff;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  width: 200px;
}

.single-event-join-button:hover {
  background-color: $dark-purple;
  border: 2px solid $dark-purple;
  transform: none;
}

.event-header-text {
  h2 {
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: 700;
    color: $text;
  }

  p {
    font-size: 18px;
  }
}

.single-event-description {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 15px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
}

.single-event-description > h3 {
  margin: 10px 0px;
  color: $text;
  font-size: large;
}

.single-event-description > p {
  margin: 10px 0px;
  color: $text;
  font-size: large;
}

@media (max-width: 1000px) {
  .event-container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1600px) {
  .event-map {
    height: 900px;
    width: 100%;
  }
}
