.event-item {
    margin-top: -2px;
    height: 90%;
    background-color: $hover-gray;
    padding: 15px;
    border: 1px solid $border-gray;
    display: flex;
    box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
    // cursor: pointer;
    // transition: all 150ms;
    // flex-grow: 1;
    // flex-basis: 0;
    // width: 80%;
}

.event-image {
    width: 100%;
    height: 144.578px;
    box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
    transition: all 150ms;
    flex-grow: 1;
}

.event-image-container {
    // height: fit-content;
    height: 50%;
    box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
    transition: all 150ms;
    flex-grow: 1;
    cursor: pointer;
}

.event-image-container:hover  {
    transform: scale(1.1);
}

.event-image-container:hover {
    box-shadow: 0 2px 4px 0 rgb(184 184 184 / 100%);
}

.event-info {
    h1, h2, .event-description, .event-attendees {
        text-decoration: none;
    }
}