#event-show {
  background-color: $lightest-green;
  height: 220px;
}

.event-map {
  height: 300px;
  width: 100%;
  border: 3px solid $blue;
}

// .event-show-main-div {
//   width: 80%;
//   justify-content: space-between;
//   margin: 2% auto;
// }

.center {
  display: flex;
  justify-content: center;
}

#where-when {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  width: 100%;
  
  .row {
    display: flex;
    align-items: center;
    gap: 25px;

    svg {
      width: 50px;
    }

    p {
      margin-top: 0;
      line-height: 20px;
    }
  }

  .row:last-of-type {
    flex-grow: 1;
  }
}

#event-show-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    font-weight: 600;
    color: $text;
  }

  .col {
    button {
      margin: 0;
      margin-top: 5px;
    }
    p {
      margin-top: 10px;
      color: $text;
      font-size: 12px;
      font-style: italic;
    }
  }

  .col:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#event-show-body {
  margin-top: 65px;
  width: 100%;

  #row-1 {
    display: flex;
    gap: 25px;
  }

  .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
    
    svg {
      fill: white;
      width: 28px;
    }

    #loc-icon {
      margin-left: 7px;
    }
  }
  
  h2 {
    margin-top: 25px;
    font-weight: 600;
    text-transform: capitalize;
  }
  p{
    margin-top: 7px;
    color: $sub-text;
    font-style: italic;
  }
  img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
}

#event-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  max-width: 1200px;
}

//   .single-event-container {
//     width: 100%;
//     margin-bottom: 20px;
//   }
// }

// .event-info-container {
//   // border: 3px solid #78c900;
//   background-color: #e6f5d7;
//   padding: 20px;
// }

// .event-header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background-color: #f7f7f7;
//   padding: 15px;
//   border: 1px solid #e5e5e5;
//   box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
// }

// .event-header > button {
//   margin: 25px 0px;
//   padding: 10px 31px;
//   border-radius: 25px;
//   border: 2px solid #ce82ff;
//   background-color: #ce82ff;
//   color: white;
//   font-size: 18px;
//   white-space: nowrap;
//   transition: all 0.2s ease-in-out;
//   text-decoration: none;
//   width: 200px;
// }

// .single-event-join-button:hover {
//   background-color: $dark-purple;
//   border: 2px solid $dark-purple;
//   transform: none;
// }

// .event-header-text {
//   h2 {
//     margin-bottom: 10px;
//     font-size: 150%;
//     font-weight: 700;
//     color: $text;
//   }

//   p {
//     font-size: 18px;
//   }
// }

// .single-event-description {
//   display: flex;
//   flex-direction: column;
//   background-color: #f7f7f7;
//   padding: 15px;
//   border: 1px solid #e5e5e5;
//   box-shadow: 0 2px 4px 0 rgb(184 184 184 / 50%);
// }

// .single-event-description > h3 {
//   margin: 10px 0px;
//   color: $text;
//   font-size: large;
// }

// .single-event-description > p {
//   margin: 10px 0px;
//   color: $text;
//   font-size: large;
// }

// @media (max-width: 1000px) {
//   .event-container {
//     display: flex;
//     flex-direction: column;
//   }
// }
