#myVideo {
  position: static;
  
  z-index: 1;

  width: 100%;

  margin-top: -50px;
  margin-bottom: -50px;
}

.splash-vid-container {
  max-height: 570px;
  overflow: hidden;
  background-color: $hover-gray;
	background: linear-gradient(-45deg, $blue, $purple, $blue, $green);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  object-fit: contain;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.purple-bar {
  display: block;
  height: 25px;
  background-color: $purple;
  z-index: 2;
  margin: 0 150px;
  position: relative;
  margin-top: -12px;
  border-radius: 2px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.purple-bar-text {
  display: block;
  height: 75px;
  background-color: $purple;
  z-index: 2;
  // left: 13%;
  position: relative;
  margin-top: -50px;
  width: fit-content;
  padding: 0 25px;
  display: flex;
  align-items: center;
  transform: skew(-10deg);
  white-space: nowrap;

  animation: slide 1.5s;

  h1 {
    color: #fff;
    font-family: $bn;
    font-size: 48px;
    padding-top: 5px;
    letter-spacing: 2px;
    margin: 0;
  }
}

@keyframes slide {
    0% { left: -25px; opacity: 0;}
    100% { left: 0; }
}

.splash-body-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: fit-content;
}

.splash-body-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  z-index: 1;
  width:100%;

  margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  color: $sub-text;
}

.section:nth-child(3) {
  margin-top: 100px;
}

.section:first-child {
  margin-bottom: 100px;
}

#one .section-description {
  margin-left: 75px;
}

#two {
  flex-direction: row-reverse;

  .section-description {
    text-align: right;
    margin-right: 75px;
  }
}

#three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-button, button {
    margin: 25px 0px;
    padding: 10px 31px;
    border-radius: 25px;
    border: 2px solid $purple;
    background-color: $purple;
    color:white;
    font-size: 18px;
    white-space: nowrap;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.splash-button:hover, button:hover {
    cursor: pointer;
    outline: none;
    background-color: $dark-purple;
    border-color: $dark-purple;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    transform: scale(1.25);
}

#scroller {
  width: 100%;
  height: 100%;
  margin: 0;

//  /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform: translateX(100%);

//  /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}

// /* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

.splash {
  position: relative;
}

